/* Global Styles */

body {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
/* td {
	font-size:11px;
	color:#666666;	/* Gray */
	} */
	
a {
	color: #993300;	/* Reddish Brown */
	display: block;
	}
	
a:hover {
	color: #5C743D;	/* Dirty Green */
	}

/* ID Styles */
/* Navigation Bar */
#navigation td {
	border-bottom: 1px solid #F4FFE4;	/* Very Pale Green */
	}
	
#navigation a {
	font-weight: bold;
	font-size: 18px;
	color: #D5EDB3;	/* Pale Green */
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	}
	
#navigation a:hover {
	background: #99CC66;	/* Green */
	color:#993300;	/* Reddish Brown */
	font-weight:bolder;
	}
	
/* Logo area */
#logo 	{
	font-size:36px;
	color: #5C743D;	/* Dark Green */
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font-size:17px;
	color: #993300;	/* Reddish Brown */
	letter-spacing:.4em;
	line-height:18px;
	}

/* Date */
#dateformat {
	color: #993300;	/* Reddish Brown */
	letter-spacing:.2em;
	}
	
/* Class Styles */
/* Page Content */
.indented {
	margin-left:50px;
}

.bodyText {
	font-size:16px;
	color:#666666;	/* Dark Gray */
	line-height:20px;
	margin-top:0px;
	padding-left: 5px;
	}
	
.pageName{
	font-size: 18px;
	color: #5C743D;	/* Green */
	line-height:18px;
	letter-spacing:0.21em;
	text-align: center;
	}
	
.rowName{
	font-size: 18px;
	color: #5C743D;	/* Green */
	line-height:18px;
	letter-spacing:0.21em;
	text-align: left;
	}
	
.subHeader {
	font-weight:bolder;
	color: #993300;	/* Reddish Brown */
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font-size: 20px;
	color: #6600FF;	/* Dirty Blue */
	line-height:30px;
	}
	
.smallText {
	font-size: 10px;
	color: #666666;	/* Dark Gray */
	line-height: 22px;
	}
	
